
a{
    text-decoration: none;
    color: inherit;
}
body{
    margin: 0;
}
.top-nav{
    color: white;
    background-color: #9D2236;
    display: flex;
    justify-content: space-between;
    padding: 12px 70px;
}
.hero-bg-container{
    background-image: url(administration.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 30px 70px;
    color: white ;
    font-size: large;
}
.hero-bg-container img{
    width: 150px;
}
h1{
    font-size: 70px;
}
/*.hero-bg-container * {
    z-index: 1;
}
.hero-bg-container::before{
    content: "";
    position: absolute;
    inset: 0;
    background-color:#f07f92;
    z-index: 0;}*/
    .intro-img{
        display: flex;
       justify-content: flex-start;
        height: 300px;  
        width:auto;
        margin: top 100px;
    }
    .intro {
      padding: 80px 0;
    }
    .intro-bsm{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 50px;
      align-items: center;
    }
    .about-text h2 {
      font-size: 2.2rem;
      margin-bottom: 20px;
    }
    .about-text p {
      color:#666 ;
      margin-bottom: 20px;
    }
    .cta-button{
        width:250px;
        height:50px;
        background-color:#AB162C;
        color: white;
        font-size: medium;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .std-stry{
        display: flex;
       /* justify-content: flex-start;  */
       flex-direction: row;
        height: 300px;  
        width:auto;
    }
    .intro{
        margin-top: 50px;
    }
    .intro-bsm{
        padding: 80px;
    }
    .intro-bsm{
         display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 50px;
      align-items: center;
    }
    .nav-container{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }
    .main-nav a {
        display: flex;
        flex-direction: row;
    }
.stry-section{
    margin-top: 50px;
}
.cta-buttons-t2{
    background-color: white;
    width:250px;
    height:50px;
    color: #AB162C;
    font-weight: bold;
    font-size: large;
      border-radius: 4px;

}
 .Action-bar-container {
      background-color:#AB162C;
      color:white;
      text-align: center;
      padding: 40px 0;
    }
    .action-bar h2 {
      margin-bottom: 20px;
    }

    