
a{
    text-decoration: none;
    color: inherit;
}
body{
    margin: 0;
}
.top-nav{
    color: white;
    background-color: #9D2236;
    display: flex;
    justify-content: space-between;
    padding: 12px 70px;
}

