body{
    background-color: rgb(143, 116, 6);
}
h1{
    font-size: 50px;
}
/*media query- traget screen size*/
@media(max-width:500px ){
body{
    background-color: blueviolet;
}
h1{
    font-size: 35px;
}
}
/*....*/
#menu-btn{
    display:blok;
}
#desktop-nav{
    display:none
}

/*differenciate between inline block and inline-block, use code for illustration*/